@charset "utf-8";
/* CSS Document */

/* 'body' es un selector de etiqueta
	'background-color' es una propiedad de CSS que define el color de fondo de un elemento, puede ser el valor de un color o la palabra "transparente"

body{
	background-color: #DEECBE
}


*/

#cabeceraweb{
	background-color: aqua;
}

#navegacionprincipal{
	background-color: red;
}

#barralateral{
	background-color: green;
	float: left;
	height: 1160px;
}

#contenidoprincipal{
	background-color: purple;
	margin-left: 220px;
	padding-left: 15px;
	padding-top: 15px;
}

#pieprincipal{
	background-color: yellow;
	clear:both;
	margin-top: 20px;
}

li{
	background-color: yellowgreen;
	display:inline;
}